conda.enabled = true

workDir = '/media/penbio24/Exp_12TB2/20261014_recruitment/work'
params.outdir = '/media/penbio24/Exp_12TB2/20261014_recruitment/results'
conda.cacheDir = '/mnt/24c76960-ae09-4465-9593-5253a222e177/20260206_stavroula/20260907_recruitment/work/conda'

// executor.queueSize = 8   // προαιρετικό όριο ταυτόχρονων tasks

